.main-container-test-conf{
    width : 100% ; 
    height : 100% ; 
    display : flex ; 
    flex-direction : row ; 
    align-items: stretch;
    box-sizing: border-box;
    padding : 20px ; 
}


.sidebar-test-conf{
    width : 20% ;
}



.container-test-conf{
    width : 80% ; 
}