<div class="card my-3 p-3" style="width : 600px ; margin : auto ; ">

    <div class="my-3 test-header">
            <label for="testname"> Test Name </label>
            <input id="testname " class="form-control"  type="text">
    </div>

    <ng-container *ngFor="let question of questions ; index as i " >
        <app-single-question [questions]="question" [index]="i" (deleteQuestionEvent)="deleteQuestion($event)"  ></app-single-question>
    </ng-container>

    <div class="row">
        <div class="col-12 submit-container">
            <button class="btn btn-primary" (click)="addQuestion()">Add Question</button>
            <button class="btn btn-primary" (click)="submitQuestion()">Submit</button>
        </div>
    </div>

</div>
