<div class="container m-5" style="width : 600px">

    <div class="row my-2">
        <div class="col-12 d-flex flex-row">
            <label for="testname"> Test Name </label>
            <input id="testname " class="form-control"  type="text">
        </div>



    </div>

    <ng-container *ngFor="let question of questions ; index as i " >
        <app-single-question [questions]="question" [index]="i" (deleteQuestionEvent)="deleteQuestion($event)"  ></app-single-question>
    </ng-container>

    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-center">
            <button class="btn btn-primary" (click)="addQuestion()">Add Question</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-center">
            <button class="btn btn-primary" (click)="submitQuestion()">Submit</button>
        </div>
    </div>

</div>
