.content-wrap{
    padding : 10px ; 
    width : 80% ; 
    margin : auto ; 
}

.page-title-box{
    display : flex ; 
    width : 100% ; 
    flex-direction : row ; 
    justify-content : space-between ; 
    align-items : center  ; 
    text-align : center ; 
    margin : 15px 0px; 
    
}

.flex-grid{
    width : 100% ; 
    display : flex ; 
    flex-direction : row ; 
    justify-content : space-between ; 
    flex-wrap : wrap ; 
    margin-top : -9px ; 
    margin-bottom : -9px ; 
    
}

.test-detail{
    width : 49% ;
    margin-top : 9px ; 
    margin-bottom : 9px ;  
    padding : 20px ; 

    &:hover{

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        // transform : scale(1.1) ; 

    }

}

.test-status{
    border : 2px solid red ; 
    display: flex;
    flex-direction: row;
    justify-content : flex-start;
    width : 100%; 
    text-align: center;
    margin-bottom: 15px;
}

.test-delete{
    // justify-self: flex-end ;
    // align-self: flex-endj;

    align-self : flex-end;

}



.status-chip{
    padding : 3px 6px ; 
    font-size : 12px ;
    border : 1px solid lightgray ; 
    border-radius: 5px ;
    font-weight: 600;
    text-transform: uppercase;
    margin-right : 15px ; 
}

.statusChipActive {
    color : var(--bs-success) ;
    border-color : var(--bs-success) ;
}
.statusChipInactive {
    color : var(--bs-danger) ; 
    border-color : var(--bs-danger) ; 
}
.statusChipSetup {
    color : var(--bs-info) ; 
    border-color : var(--bs-info) ; 
}


.status-createdat{
    color : gray ; 
    font-size: 14px;
    font-weight: 600;
    align-self: center;
}