<div class="sidebar-test-wrapper">

    <div class="status-chip-container">
        <div class="status-chip statusChipSetup">
            setup in progress
        </div>
    </div>

    <div class="test-side-navbar">

        <h5>Test Configuration</h5>
        <ul>
            <li class="sidebar-btn-active" routerLinkActive="sidebar-btn-selected" [routerLink]="['basic-setting']">
                <i class="bi bi-gear-fill"></i>
                <span> Basic Setting </span>
            </li>
            <li [ngClass]="(testStatus >= 2 ) ? 'sidebar-btn-active' : 'sidebar-btn-inactive'"
                [routerLink]="['question-manager']"
                [routerLinkActive]="(testStatus >= 2 ) ? 'sidebar-btn-selected' : 'sidebar-btn-inactive'">


                <i class="bi bi-question-octagon-fill"></i>
                <span> Question Manager </span>



            </li>

            <li [ngClass]="(testStatus >= 2) ? 'sidebar-btn-active' : 'sidebar-btn-inactive'"
                [routerLink]="['time-access-setting']"
                [routerLinkActive]="(testStatus >= 2 ) ? 'sidebar-btn-selected' : 'sidebar-btn-inactive'">
                <i class="bi bi-calendar2-check-fill"></i>
                <span>
                    Time / Access Setting
                </span>
            </li>
        </ul>

    </div>

    <div class="test-side-navbar">

        <h5>Result Management</h5>
        <ul>
            <li [ngClass]="(testStatus == 4 ) ? 'sidebar-btn-active' : 'sidebar-btn-inactive'"
                [routerLinkActive]="(testStatus == 4 ) ? 'sidebar-btn-selected' : 'sidebar-btn-inactive'"
                [routerLink]="['result-table']">
                <i class="bi bi-gear-fill"></i>
                <span> Result Table </span>
            </li>
        </ul>

    </div>
</div>