@import "src/styles.scss" ;

.welcome-container {
    width: 70%;
    // max-width: 1000px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
}

.common-boxing {
    border: none;
    box-shadow: 3px 4px 10px rgba(201, 216, 225, .34);
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 18px;
    font-size: none;
}

.instruction {
    &:p {

        font-family: Aktiv Grotesk, sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        letter-spacing: 0;
        text-decoration: inherit;
        text-transform: inherit;
        word-break: break-word;

    }
}

.test-form {
    &:h4 {
        font-weight: 800;
    }
}


.test-start-form {

    max-width: 350px ;

    & .form-group{
        font-size: small;
        margin-bottom: 20px ;

        
    } ; 

}
.error{
    font-size: smaller;
    margin : 4px 15px  ; 
}


.submit-btn {

    margin-top : 10px ;
    background-color: $secondaryColor;
    border-color:$secondaryColor ;

    &:hover , &:active {
        background-color: $secondaryColorShades1 ;
    }
}