<div class="main-container">

    <div class="question-container common-boxing">
        <div class="single-question-container">

            <h5>
                Question {{currentIndex + 1}}/{{totalQuestion}}
            </h5>

            <p>
                {{currentQuestion.question}}
            </p>

            <div class="options" *ngFor="let option of currentQuestion.options ; index as i " >
                <input class="form-check-input" type="radio" [name]="'sigle-question' + currentIndex" [id]="'sigle-question' + currentIndex + i"  [value]="i" [(ngModel)]="currentQuestion.selectedId" >
                <label class="form-check-label" [for]="'sigle-question' + currentIndex + i" >
                    {{option.text}}
                  </label>
            </div>

        </div>

        <div class="d-flex justify-content-between my-3 mx-2 ">
            <button (click)="nextQuestion()"
                [ngClass]="this.currentIndex < this.questions.length -1 ? 'active-btn' : 'inactive-btn' " class="btn"><i
                    class="fa icon-postion  fa-chevron-right" aria-hidden="true"></i></button>
            <button class="btn btn-outline-success btn-sm align-self-center  "  [disabled]="currentQuestion.selectedId == null || currentQuestion.selectedId == undefined" (click)="submitAnswer(currentIndex)" >  {{ currentQuestion.submit == true ? 'Resubmit' : 'Submit' }} Answer</button>
            <button (click)="prevQuestion()" [ngClass]="this.currentIndex > 0 ? 'active-btn' : 'inactive-btn' "
                class="btn"><i class="fa icon-postion  fa-chevron-left" aria-hidden="true"></i></button>
        </div>

    </div>

    <div class="question-pallet-container common-boxing ">
        <div class="question-pallet common-boxing">

        </div>
        <div class="finish-test-container">

            <button class="btn  btn-outline-danger btn-sm"> Finsih Test </button>

        </div>
    </div>
</div>