/* You can add global styles to this file, and also import other style files */


$backgroundColor : #F1F5F8;
$primaryColor : #FFFFFF;
$secondaryColor : #49C279;
$secondaryColorShades1 : #46c87ab2;
$textPrimaryColor : #064751;


body {
    background-color: $backgroundColor;
}

* {
    font-family: Aktiv Grotesk, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.common-boxing {
    border: none;
    box-shadow: 3px 4px 10px rgba(201, 216, 225, .34);
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 18px;
    font-size: none;
}